<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragments/layout :: common(title = 'Customer Orders', content = ~{::main}, main = 'setting', sub = 'sales')}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<main>
		<h3>
			<i class="bi bi-cart"></i>
			Orders of <span th:text="${customer.name}"></span>
		</h3>
		
		
		<table class="table table-striped shadow-sm mt-4">
			<thead>
				<tr>
					<th>Shop</th>
					<th>Status</th>
					<th>Invoice Date</th>
					<th>Invoice ID</th>
					<th class="text-end">Items</th>
					<th class="text-end">Sub Total</th>
					<th class="text-end">Tax</th>
					<th class="text-end">Total</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="item : ${list}">
					<td th:text="${item.shop}"></td>
					<td th:text="${item.status}"></td>
					<td th:text="${@dates.formatDateTime(item.invoiceTime)}"></td>
					<td th:text="${@numbers.invoiceNumber(item.invoiceId)}"></td>
					<td th:text="${item.items}" class="text-end"></td>
					<td th:text="${@numbers.format(item.subTotal)}" class="text-end"></td>
					<td th:text="${@numbers.format(item.tax)}" class="text-end"></td>
					<td th:text="${@numbers.format(item.total)}" class="text-end"></td>
					<td class="text-end">
						<a th:href="@{|/member/invoice/sales/${item.id}|}" class="me-2">
							<i class="bi bi-send"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>

</body>
</html>