<app-main-layout icon="bi-file-ruled" title="Ledger">

  <form class="row" [formGroup]="form" search>
    <div class="col-2">
      <label class="form-label">Ledger Type</label>
      <select formControlName="type" class="form-select">
        <option value="">Select Type</option>
        <option value="Credit">Credit</option>
        <option value="Debit">Debit</option>
      </select>
    </div>

    <div class="col-3">
      <label class="form-label">Keyword</label>
      <input formControlName="keyword" type="text" class="form-control" placeholder="Search Keyword">
    </div>

    <div class="col align-self-end">
      <button class="btn btn-outline-dark me-4" (click)="search()">
        <i class="bi bi-search"></i> Search
      </button>
      <button class="btn btn-dark me-4" (click)="openLedgerForm()">
        <i class="bi bi-plus-lg"></i> Create
      </button>
      <button class="btn btn-outline-dark" (click)="ledgerUpload.click()">
        <i class="bi bi-upload"></i> Upload
      </button>
    </div>
  </form>

  <app-no-data *ngIf="ledgers.length == 0" data="Ledger"></app-no-data>

  <div *ngIf="ledgers.length > 0">
    <div class="row">
      <div class="col-3 p-2" *ngFor="let item of ledgers">
        <div class="d-flex border border-secondary rounded-2 p-3">
          <div class="w-100">
            <h4>{{ item.name }}</h4>
            <h6 class="text-danger">{{ item.type }}</h6>
          </div>
          <div class="align-self-center">
            <button (click)="edit(item)" class="btn btn-sm btn-outline-secondary">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-main-layout>

<app-ledger-form [data]="targetLedger" (onSave)="save($event)"></app-ledger-form>

<form action="#" method="post" class="d-none">
  <input type="file" #ledgerUpload (change)="upload(ledgerUpload.files!)">
</form>