<form [formGroup]="form">

  <app-form-group label="Name" [margin]="true" [valid]="form.get('name')?.valid">
    <input formControlName="name" type="text" class="form-control" placeholder="Name">
  </app-form-group>

  <app-form-group label="Email" [margin]="true" [valid]="form.get('email')?.valid">
    <input formControlName="email" type="email" class="form-control" placeholder="Email">
  </app-form-group>

  <app-form-group label="Password" [margin]="true" [valid]="form.get('password')?.valid">
    <input type="password" class="form-control" placeholder="Password">
  </app-form-group>

  <div class="text-end">
    <button [routerLink]="['../sign-in']" class="btn btn-outline-dark me-3">
      <i class="bi bi-person-check"></i> Sign In
    </button>
    <button class="btn btn-dark" type="button" (click)="signUp()">
      <i class="bi bi-unlock"></i> Sign Up
    </button>
  </div>

</form>