<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragments/layout :: common(title = 'My Cart', content = ~{::main}, main = 'my-cart')}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<main>
		<h3><i class="bi bi-cart"></i> In My Cart</h3>
		
		<div class="row mt-4">
			<div class="col">
				<!-- Item List -->
				<div th:each="item: ${@shoppingCart.invoiceItems}" class="mb-5">
					<div th:replace="~{/fragments/invoice :: item(data = ${item}, editable = true)}"></div>
				</div>
				
				<!-- Check Out Button -->
				<div class="mt-3">
					<a th:href="@{/member/checkout}" class="btn btn-outline-primary">
						<i class="bi bi-truck"></i> Delivery Address
					</a>
				</div>
			</div>
			
			<div class="col-4">
				<!-- Summary -->
				<div th:replace="~{/fragments/invoice :: summary(data = ${@shoppingCart.summary})}"></div>
			</div>
		</div>
		
		<form id="cartItemForm" th:action="@{/public/cart}" method="post" class="d-none">
			<input type="hidden" name="cartView" value="true" />
			<input id="productIdInput" type="hidden" name="productId" />
			<input id="countInput" type="hidden" name="count" />
		</form>
		
		<script type="text/javascript" th:src="@{/js/cart-view.js}"></script>
		
	</main>

</body>
</html>