<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section th:fragment="information" class="card">
		<img th:if="${data.coverImage == null}" th:src="@{/images/product.jpg}" alt="Product Image" class="card-img-top product-list-image" />
		<img th:unless="${data.coverImage == null}" th:src="@{|/photos/product/${data.coverImage}|}" alt="Product Image" class="card-img-top product-list-image" />
		
		<div class="card-body">
			<h5 class="card-title" th:text="${data.name}">Product Name</h5>
			<div>
				<div th:text="${data.brand}">Brand</div>
				<div class="d-flex justify-content-between">
					<span th:text="|${data.price} MMK|">Price</span>
					
					<a th:href="@{|/public/product/${data.id}|}" class="btn-link">
						<i class="bi bi-cart"></i>
					</a>
				</div>
			</div>
		</div>
		
	</section>
	
	<section th:fragment="images" class="d-flex">
	
		<div class="controls-wrapper">
			<div th:each="image : ${list}" class="mb-3">
				<img th:src="@{|/photos/product/${image}|}" class="controllImages" alt="Control Image" />
			</div>
		</div>
		
		<div class="cover-wrapper">
			<img th:if="${cover == null}" th:src="@{/images/product.jpg}" class="shadowUp" alt="Product Cover Image" />
			<img id="coverImage" th:unless="${cover == null}"  th:src="@{|/photos/product/${cover}|}" class="shadowUp" alt="Product Cover Image" />
		</div>
		
		<script th:src="@{/js/product-photo-select.js}"></script>
		
	</section>

</body>
</html>