<h3>Account List</h3>
<hr class="text-danger">
<table class="table table-striped bg-secondary">
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let acc of accounts">
      <td>{{ acc.id }}</td>
      <td>{{ acc.name }}</td>
      <td>{{ acc.email }}</td>
      <td>{{ acc.phone }}</td>
      <td>
        <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>