<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/fragments/layout :: common(title = 'Home', content = ~{ :: main})}">
<head>
<meta charset="UTF-8">
<title>Shop | Home</title>
</head>
<body>


	<main>
		<div class="d-flex justify-content-between mb-3">
			<h3><i class="bi bi-gift"></i> Products</h3>
			
			<form th:action="@{/public/home}">
				<div class="input-group">
					<input class="form-control" type="text" name="keyword" placeholder="Search Keyword" />
					<button type="submit" class="btn btn-outline-primary">
						<i class="bi bi-search"></i>
					</button>
				</div>
			</form>
		</div>
		
		<div class="row">
			<div class="col-3">
				<!-- Categories -->
			</div>
			
			<div class="col">
				<!-- Products -->
			</div>
		</div>
	</main>	


</body>
</html>